데이터 및 출처도서 : [doit! 데이터 분석을 위한 판다스 입문](https://www.notion.so/do-it-pandas-edf6beb268db403c9c8cc1c893ba1ff0#5a46cb33fdc24b659537ad252e791cb9)

# 시리즈 만들기
실습에 사용할 시리즈와 데이터프레임을 직접 만들어서 진행

In [101]:
import pandas as pd

In [102]:
# Series 메서드에 리스트를 전달하여 시리즈를 생성
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [103]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [104]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [105]:
# 사전형식을 이용해 데이터프레임을 만들 수 있음
KFC = pd.DataFrame({
    'Name' : ['burger', 'Cola', 'Fries'],
    'Price' : [5000, 2000, 3000],
    'popular' : ['best', 'good', 'not good']
})
print(KFC)

     Name  Price   popular
0  burger   5000      best
1    Cola   2000      good
2   Fries   3000  not good

In [106]:
# 데이터프레임도 index를 지정해 줄 수 있음, columns 인자로 열 순서를 지정해 줄 수 있음
KFC = pd.DataFrame({
    'Price' : [5000, 2000, 3000],
    'popular' : ['best', 'good', 'not good']},
    index=['burger', 'Cola', 'Fries'],
    columns=['popular', 'Price']
)
print(KFC)

         popular  Price
burger      best   5000
Cola        good   2000
Fries   not good   3000

데이터 프레임을 만들 때, 사전을 인자 값으로 받으면 데이터의 순서가 보장되지 않을 수 있음  
순서가 고정되어 있는 사전을 전달하려면 OrderedDict 클래스를 이용하면 가능함

In [107]:
from collections import OrderedDict

KFC = pd.DataFrame(OrderedDict([
    ('Name', ['burger', 'Cola', 'Fries']),
    ('Price', [5000, 2000, 3000]),
    ('popular', ['best', 'good', 'not good'])
])
)
print(KFC)

     Name  Price   popular
0  burger   5000      best
1    Cola   2000      good
2   Fries   3000  not good

# 데이터프레임에서 시리즈 선택하기

In [108]:
# 데이터 프레임에서 시리즈 선택하기
KFC = pd.DataFrame({
    'Price' : [5000, 2000, 3000],
    'popular' : ['best', 'good', 'not good']},
    index=['burger', 'Cola', 'Fries'],
    columns=['popular', 'Price']
)
print(KFC)

         popular  Price
burger      best   5000
Cola        good   2000
Fries   not good   3000

In [109]:
# 출력 시 정수형 데이터도 object 문자열로 인식됨, Price의 자료형이 무시됨
first_row = KFC.loc['Cola']
print(type(first_row), "\n\n" ,first_row)

<class 'pandas.core.series.Series'>

 popular    good
Price      2000
Name: Cola, dtype: object

# index, values, keys 사용하기

In [110]:
# index 속성에는 시리즈의 인덱스가 들어 있습니다.
first_row.index

Index(['popular', 'Price'], dtype='object')

In [111]:
# values 속성에는 시리즈의 데이터가 들어 있습니다.
first_row.values

array(['good', 2000], dtype=object)

In [112]:
# key 메서드, index 속성과 같은 역할을 합니다. 
first_row.keys()

Index(['popular', 'Price'], dtype='object')

index속성, keys메서드 응용, 원하는 위치의 인덱스에 접근

In [113]:
first_row.index[0]

'popular'

In [114]:
first_row.keys()[1]

'Price'

# 시리즈의 mean, min, max, std 메서드 사용하기

In [115]:
# 시리즈를 구성하는 데이터가 정수라면 mean, min, max, std와 같은 통계 메서드를 사용할 수 있음
price = KFC['Price']
price

burger    5000
Cola      2000
Fries     3000
Name: Price, dtype: int64

In [116]:
# 제품들의 평균
print(price.mean())
# 제품들의 최솟값
print(price.min())
# 제품들의 최댓값
print(price.max())
# 제품들의 표준편차
print(price.std())

3333.3333333333335
2000
5000
1527.5252316519466

### 시리즈 메서드 
append : 2개 이상의 시리즈 연결 
describe : 요약 통계량 계산  
drop_duplicates : 중복값이 없는 시리즈 반환  
equals : 시리즈에 해당 값을 가진 요소가 있는지 확인  
get_values : 시리즈 값 구하기(values 속성과 동일)  
isin : 시리즈에 포함된 값이 있는지 확인  
min : 최솟값 반환  
max : 최댓값 반환  
mean : 산술 평균 반환  
median : 중간값 반환  
replace : 특정 값을 가진 시리즈 값을 교체  
sample : 시리즈에서 임의의 값을 반환  
sort_values : 값을 정렬  
to_frame : 시리즈 -> 데이터프레임

# 시리즈와 불린 추출 사용하기

In [117]:
scientists = pd.read_csv('data/scientists.csv')
print(scientists.shape)
scientists.head()

(8, 5)

                   Name        Born        Died  Age    Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1        William Gosset  1876-06-13  1937-10-16   61  Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist

In [118]:
ages = scientists['Age']
print('최댓값 : ', ages.max())
print('평균 : ', ages.mean())

최댓값 :  90
평균 :  59.125

In [119]:
# 평균나이보다 나이가 많은 사람의 데이터 추출
ages[ages > ages.mean()]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

ages > ages.mean() 만 보면 각 행별로 조건을 만족하는 행만 True가 들어가 있음  
리스트의 형태로 불린값을 담아 시리즈에 전달하면 참인 인덱스의 데이터만 추출 == 불린추출

In [120]:
ages > ages.mean()

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

아래의 코드와 위의 코드의 결과는 같음, 둘다 같은 원리로 동작

In [121]:
manual_bool_values = [False, True, True, True, False, False, False, True]
ages[manual_bool_values]

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅
시리즈나 데이터 프레임에 있는 모든데이터에 대해서 한번에 연산이 가능한 것을 브로드캐스팅이라고 함  
시리즈처럼 여러 개의 값을 가진 데이터를 벡터  
단순 크기를 나타내는 데이터를 스칼라라고 함

In [122]:
# 같은 길이의 벡터로 더하기 연산 수행
print(ages + ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [123]:
# 같은 길이의 벡터로 곱하기 연산 수행
print(ages * ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

In [124]:
# 벡터에 스칼라 더하기 연산
print(ages + 100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [125]:
# 벡터에 스칼라 곱하기 연산
print(ages * 2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

길이가 서로다른 벡터를 연산하면 누락값이 생김  
시리즈와 시리즈를 연산하는 경우 같은 인덱스의 값만 계산하기 때문에 서로 길이가 다를 경우  
인덱스에 대응하는 인덱스가 없을 경우 누락값NaN으로 처리합니다.

In [126]:
print(pd.Series([1, 100]))
print(ages + pd.Series([1, 100]))

0      1
1    100
dtype: int64
0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

In [127]:
# 인덱스 값을 기준으로 정렬, ascending=False 는 내림차순으로 정렬 
rev_ages = ages.sort_index(ascending=False)
rev_ages

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [128]:
# 시리즈끼리 연산을 할때는 인덱스의 값을 기준으로 연산이 진행된다는 점을 확인
print(ages + ages)
print(ages + rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [129]:
# 데이터프레임의 Age 열에서 Age열의 평균보다 높은 행만 출력
scientists[scientists['Age'] > scientists['Age'].mean()]

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [130]:
# 예전 버전은 bool벡터를 짧게 입력해도 되었지만 버전이 업데이트 되면서 전체 행의 개수만큼 bool 벡터의 길이가 일치해야함. 
scientists.loc[[True, True, False, True]]

IndexError: Boolean index has wrong length: 4 instead of 8

# 데이터프레임과 브로드캐스팅

In [131]:
# 스칼라 값을 곱하면 브로드캐스팅이 되는데 문자열은 2배, 정수 데이터는 곱하기 2가 됨
scientists * 2

,Name,Born,Died,Age,Occupation
0,Rosaline FranklinRosaline Franklin,1920-07-251920-07-25,1958-04-161958-04-16,74,ChemistChemist
1,William GossetWilliam Gosset,1876-06-131876-06-13,1937-10-161937-10-16,122,StatisticianStatistician
2,Florence NightingaleFlorence Nightingale,1820-05-121820-05-12,1910-08-131910-08-13,180,NurseNurse
3,Marie CurieMarie Curie,1867-11-071867-11-07,1934-07-041934-07-04,132,ChemistChemist
4,Rachel CarsonRachel Carson,1907-05-271907-05-27,1964-04-141964-04-14,112,BiologistBiologist
5,John SnowJohn Snow,1813-03-151813-03-15,1858-06-161858-06-16,90,PhysicianPhysician
6,Alan TuringAlan Turing,1912-06-231912-06-23,1954-06-071954-06-07,82,Computer ScientistComputer Scientist
7,Johann GaussJohann Gauss,1777-04-301777-04-30,1855-02-231855-02-23,154,MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

In [132]:
# 열의 자료형 바꾸기
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [133]:
# 날짜 열을 문자열 -> datetime 자료형으로 변경, 날짜형식 지정
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [134]:
# 날짜 열을 문자열 -> datetime 자료형으로 변경, 날짜형식 지정
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [135]:
# 데이터 프레임에 새로운 열 추가
scientists['born_dt'], scientists['died_dt'] = born_datetime, died_datetime
print(scientists.shape)
print(scientists.head())

(8, 7)
                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [136]:
# dt열로 날짜 계산 
scientists['age_days_dt'] = scientists['died_dt'] - scientists['born_dt']
scientists

,Name,Born,Died,Age,Occupation,born_dt,died_dt,age_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,37,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,61,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,90,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,66,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,56,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,41,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,77,Mathematician,1777-04-30,1855-02-23,28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [137]:
scientists['Age']

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [138]:
import random 

# seed 메서드는 컴퓨터가 생성하는 난수의 기준값을 정하기 위해 사용
random.seed(42)
random.shuffle(scientists['Age'])
scientists['Age']

/Users/coding_min/opt/anaconda3/lib/python3.8/random.py:307: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

# 데이터프레임의 열 삭제하기

In [139]:
scientists.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [140]:
# 데이터프레임에서 열 삭제하기 drop 매서드 사용
scientists_dropped = scientists.drop(columns=['Age'], axis=1) # axis 는 축을 의미(0은 행, 1은 열)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'age_days_dt'],
      dtype='object')

In [141]:
# 데이터프레임에서 행 삭제하기 drop 매서드 사용
scientists_dropped = scientists.drop(index=[0, 1, 2], axis=0) # axis 는 축을 의미(0은 행, 1은 열)
scientists_dropped  # 0, 1, 2 인덱스의 행이 삭제 됨

,Name,Born,Died,Age,Occupation,born_dt,died_dt,age_days_dt
3,Marie Curie,1867-11-07,1934-07-04,77,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,90,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,37,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,61,Mathematician,1777-04-30,1855-02-23,28422 days

# 피클 형식으로 저장하기
 피클은 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법  
 스프레드시트보다 더 적은 용량으로 데이터를 저장할 수 있어 매우 편리함

In [142]:
# 시리즈를 피클로 저장하는 방법
names = scientists['Name']
names.to_pickle('output/scientists_names_series.pickle')

In [143]:
# 데이터프레임을 피클로 저장하는 방법
scientists.to_pickle('output/scientists_df.pickle')

In [144]:
# 피클은 바이너리 형태의 오브젝트, 따라서 피클 데이터는 반드시 read_pickle 메서드로 읽어와야함.
scientist_names_from_pickle = pd.read_pickle('output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [145]:
scientists_from_pickle = pd.read_pickle('output/scientists_df.pickle')
print(scientists_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

# CSV 불러오기

In [146]:
# to_csv 매서드를 통해 csv 로 저장
# tsv 로 저장하려면 sep='\t'인자를 넘겨주고 파일 확장자도 .tsv 로 저장
names.to_csv('output/scients_names_series.csv')
scientists.to_csv('output/scientists_df.tsv', sep='\t')

# 시리즈와 데이터프레임을 엑셀 파일로 저장하기 
시리즈는 엑셀 구조와 맞지 않기 때문에 엑셀저장이 불가능 -> 데이터프레임으로 변환후 저장가능

xls 파일로 저장하려면 xlwt 라이브러리 설치 

xlsx 파일로 저장하려면 openpyxl 라이브러리 설치


> pip install xlwt  
> pip install openpyxl

pandas.read_excel()은 내부에서 xlrd이라는 라이브러리를 사용

xlrd은 파이썬에서 엑셀 파일을 읽어오거나 쓰기를 할 때 필요한 라이브러리

xlrd가 설치되지 않았다면 엑셀파일을 읽어올 때 에러가 발생

In [147]:
names_df = names.to_frame()

import xlwt
names_df.to_excel('output/scientists_names_series_df.xls')

import openpyxl
names_df.to_excel('output/scientists_names_series_df.xlsx')