자료형 변환은 데이터 분석과정에서 반드시 알아야하는 요소 중 하나.  
카테고리는 문자열로 변환해야 분석을 더 수월하게 할 수 있기 때문에 자주 변환하는 자료형  
예시로는 전화번호가 있음. 전화번호는 숫자로 이루어져 있지만, 전화번호로 계산을 하지는 않기 때문에 문자열로 저장하는 경우가 많음

# dtypes 속성으로 데이터프레임의 자료형 살펴보기
seaborn의 tips 데이터셋 사용

In [1]:
import pandas as pd
import seaborn as sns 

tips = sns.load_dataset('tips')

In [2]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# 여러 가지 자료형을 문자열로 변환하기

In [3]:
# astype 메서드로 여러가지 자료형을 문자열로 변환학기
tips['sex_str'] = tips['sex'].astype(str)

In [4]:
# sex(category) -> sex_str(object)
tips.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

# 자료형을 변환한 데이터 다시 원래대로 만들기

In [5]:
# total_bill 열을 실수형 -> 문자형
tips['total_bill'] = tips['total_bill'].astype(str)
print(tips.dtypes)

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

In [6]:
# 문자형을 다시 실수형으로 변환
tips['total_bill'] = tips['total_bill'].astype(float)
print(tips.dtypes)

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

# 잘못 입력한 문자열 처리하기
정수가 있어야하는 열에 문자열이 입려되어 있을때 처리하는 방법  
자료형을 변환하는 to_numeric 메서드 확인

In [7]:
tips_sub = tips.head(10)
tips_sub.loc[[1, 3, 5, 7], 'total_bill'] = 'missing'
print(tips_sub)

  total_bill   tip     sex smoker  day    time  size sex_str
0      16.99  1.01  Female     No  Sun  Dinner     2  Female
1    missing  1.66    Male     No  Sun  Dinner     3    Male
2      21.01  3.50    Male     No  Sun  Dinner     3    Male
3    missing  3.31    Male     No  Sun  Dinner     2    Male
4      24.59  3.61  Female     No  Sun  Dinner     4  Female
5    missing  4.71    Male     No  Sun  Dinner     4    Male
6       8.77  2.00    Male     No  Sun  Dinner     2    Male
7    missing  3.12    Male     No  Sun  Dinner     4    Male
8      15.04  1.96    Male     No  Sun  Dinner     2    Male
9      14.78  3.23    Male     No  Sun  Dinner     2    Male

/Users/coding_min/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

앞서 변경한 missing 문자때문에 total_bill 이 실수가 아니라 문자열로 자료형이 바뀐것을 알 수 있습니다.  
missing 이라는 문자열 때문에 이런 문제가 발생한 것

In [8]:
tips_sub.dtypes

total_bill      object
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
sex_str         object
dtype: object

astype 메서드를 사용해 total_bill 열의 데이터를 실수로 변환하려하면 오류가 발생  
판다스는 'missing'이라는 문자열을 실수로 변환하는 방법을 모르기 때문

In [9]:
tips_sub['total_bill'].astype(float)

ValueError: could not convert string to float: 'missing'

에러가 나기 때문에 다른 방법을 사용해야함.  
to_numeric 메서드를 사용하여 재시도

In [ ]:
pd.to_numeric(tips_sub['total_bill'])

to_numeric 메서드를 사용해도 문자열을 실수로 변환할 수 는 없음  
하지만 to_numeric 메서드는 errors 인자에 raise, coerce, ignore 를 지정하여 오류를 어느정도 제어할 수 있음 .  
예를 들어 errors인자를 raise 로 설정하면 숫자로 변환할 수 없는 값이 있을때만 오류가 발생함.  
이러한 오류는 사용자가 의도한 오류이므로 오류가 발생한 지점을 알 수 있음 

|인잣값|내용|
|:---:|:---:|
|raise|숫자로 변환할 수 없는 값이 있으면 오류발생|
|coerce|숫자로 변환할 수 없는 값을 누락값으로 지정|
|ignore|아무 작업도 하지 않음|

errors 인자를 igonre 로 설정했을때 에러메세지는 뜨진 않지만 total_bill의 자료형이 여전히 object값으로 나타남

In [ ]:
# errors 인자 = ignore
tips_sub['total_bill'] = pd.to_numeric(tips_sub['total_bill'], errors='ignore')
print(tips_sub.dtypes)

erros 인자를 coerce 로 설정했을때, 'missing' 이 누락값(NaN)으로 바뀜  
그리고, 자료형도 float 으로 바뀜

In [ ]:
# errors 인자 = coerce
tips_sub['total_bill'] = pd.to_numeric(tips_sub['total_bill'], errors='coerce')
print(tips_sub.dtypes)
tips_sub

to_numeric 메서드에는 erros 인자 외에도 downcast 인자가 있음.  
downcast는 정수, 실수와 같은 자료형을 더 작은 형태로 만들때 사용, 이를 다운 캐스트라고 함.  
downcast인자에는 integer, signed, unsigned, float 등의 값을 사용할 수 있음.  
total_bill 을 downcast='float' 할 경우 float64 -> float32로 바뀐 것을 알 수 있음.  
float64는 32 보다 더 많은 범위의 실수를 표현할 수 있지만 메모리 공간을 2배나 차지

In [ ]:
tips_sub['total_bill'] = pd.to_numeric(tips_sub['total_bill'], errors='coerce', downcast='float')
print(tips_sub.dtypes)

# 문자열을 카테고리로 변환하기
판다스에는 유한한 범위의 값만을 가질 수 있는 카테고리라는 특수한 자료형이 있음.  
만약 10종류의 과일 이름을 저장한 열이 있다고 가정할 경우 문자열 자료형보다, 카테고리 자료형을 사용하는 것이 용량과 속도면에서 더 효율적  

### 카테고리 자료형의 장점과 특징 
* 용량과 속도면에서 매우 효율적임.  
* 주로 동일한 문자열이 반복되어 데이터를 구성하는 경우에 사용

sex 열의 데이터는 남자 또는 여자만으로 구성되어 있음  
그래서 카테고리 자료형으로 저장되어 있음  
따라서, 카테고리형 자료형 -> 문자형으로 변환하면 데이터프레임 용량이 증가하는 것을 볼 수 있음

In [ ]:
# sex 열의 자료형이 object 일때 
tips['sex'] = tips['sex'].astype(str)
tips.info()

In [ ]:
# sex 열의 자료형이 category 일때 
tips['sex'] = tips['sex'].astype('category')
tips.info()